doctype html
html
    head
        title Test components for Valley
        script(scr='https://code.jquery.com/jquery-1.12.1.min.js')
        script(src='public/javascript/bundle.js')
    body
        h1 This page is used to test components for valley.
        p#pTest The number of lines in a paragraph depends on the size of your browser window. If you resize the browser window, the number of lines in this paragraph will change.
        div#divTest
            p This is a test

